# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/AndroidProjectSystem.xml
/copilot.data.migration.agent.xml
/copilot.data.migration.ask.xml
/copilot.data.migration.ask2agent.xml
/copilot.data.migration.edit.xml
/deploymentTargetSelector.xml
/migrations.xml
/gradle.xml
/misc.xml
/vcs.xml
/runConfigurations.xml
/inspectionProfiles/
